force {
	UserName     = ""
	PassWord     = ""
	LoginURL     = "https://login.salesforce.com"
	GrantService = "/services/oauth2/token?grant_type=password"
	ClientID     = ""
	ClientSecret = ""
	BaseUrl = "/services/data/v35.0/sobjects/"
  Host = "https://ap2.salesforce.com"
	QueryUrl =  "/services/data/v35.0/query/?q="
}


